/* ----- HEADER ----- */
/* .debug header {
    background-color: lawngreen;
} */

/* .debug .l-column {
    background-color: firebrick;
} */
/* 
.debug .r-column {
    background-color: gold;
} */


/* ----- MAIN ----- */

/* TITLE */
/* .debug .title {
    height: 600px;
} */

/* .debug .title > .big-container {
    background-color: blueviolet;
    min-height: 100%;
} */

/* .debug .img-box {
    background-color: royalblue;
    height: 400px;
    width: 650px;
} */

/* PLAN */
/* .debug .plan {
    background-color: aqua;
} */

/* .debug .plan > .small-container {
    background-color: olive;
    min-height: 900px;
} */

/* PARTNER */
/* .debug .partner {
    background-color: saddlebrown;
}

.debug .partner > .small-container {
    background-color: darkkhaki;
    min-height: 400px;
} */

/* OPERATIONS */
/* .debug .operations {
    background-color: teal;
}

.debug .operations > .small-container {
    background-color: yellowgreen;
    min-height: 1000px;
} */

/* BUSINESS */
/* .debug .business {
    background-color: indianred;
}

.debug .business > .small-container {
    background-color: orange;
    min-height: 200px;
} */

/* LOGO GALLERY */
.logo-gallery > * {
    background-color: bisque;
    /* border: 1px solid black; */
}

.debug .logo-gallery .logo-box {
    background-color: brown;
    border: 1px solid black;
}

/* TRIAL */
.debug .trial > .small-container {
    background-color: orange;
    height: 300px;
}

/* FAQ */
.debug .faq {
    background-color: greenyellow;
}

.debug .faq > .small-container {
    background-color: hotpink;
    height: 300px;
}


/* ----- FOOTER ----- */
.debug .t-section {
    min-height: 500px;
    background-color: aqua;
}

.debug .t-section .list-box {
    background-color: lightcoral;
    border: 1px solid black;
}

.debug .b-section {
    min-height: 100px;
    background-color: khaki;
}

