/* ----- HEADER ----- */
.debug header {
    background-color: lawngreen;
}

.debug .l-column {
    background-color: firebrick;
}

.debug .r-column {
    background-color: gold;
}


/* ----- MAIN ----- */
.debug .title {
    height: 600px;
}

.debug .title > .big-container {
    background-color: blueviolet;
    min-height: 100%;
}

.debug .img-box {
    background-color: royalblue;
    height: 400px;
    width: 650px;
}

