/* ----- HEADER ----- */
header {
    height: 80px;
    width: 100vw;

    background-color: white;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
}

header > * {
    width: 50%;
    align-items: center;
    padding: 0 40px 0 25px;
}

header img {
    margin-right: 40px;
}

header ul {
    list-style: none;
    height: 100%;
}

header ul li{
    display: inline-block;
    margin-right: 40px;
}

header ul li:hover{
    border-bottom: 3px solid #0061FF;
}

header nav ul li a {
    line-height: 80px;

    text-decoration: none;
    color: rgb(19, 19, 19);
}

header .r-column {
    justify-content: flex-end;
}

/* ----- MAIN ----- */
main {
    margin-top: 70px;
}

/* TITLE */
.title {
    padding: 80px 0 20px;
    background-color: #B4D0E7;
}

.title h1 {
    font-size: 5em;
    font-weight: 900;
}

.title .small-column {
    width: 30%;
    margin-top: 50px;
}

.title .img-box {
    width: 70%;

    position: absolute;
    right: 0;
    bottom: -100px;
}

.title .button {
    margin: 30px 0;
}

.title i {
    display: inline-block;
    margin-top: 70px;
    color: #000;
    font-size: 3em;
}


/* PLAN */

/* PARTNER */

/* OPERATIONS */

/* BUSINESS */

/* LOGO GALLERY */
.logo-gallery > * {
    width: calc(100% / 3);

    flex-wrap: wrap;
}

.logo-gallery .logo-box {
    width: calc((100vw - 20px) / 6);
    height: calc((100vw - 20px) / 6);
}

/* TRIAL */
.trial {
    background-color: #B4D0E7;
}

/* ----- FOOTER ----- */
footer {
    background-color: #000;
}

/* TOP SECTION */
.t-section .list-box {
    width: calc(100% / 5);
}

