/* ----- HEADER ----- */
header {
    height: 80px;
    width: 100vw;

    background-color: white;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
}

header > * {
    width: 50%;
    align-items: center;
    padding: 0 40px 0 25px;
}

header img {
    margin-right: 40px;
}

header ul {
    list-style: none;
    height: 100%;
}

header ul li{
    display: inline-block;
    margin-right: 40px;
}

header ul li:hover{
    border-bottom: 3px solid #0061FF;
}

header nav ul li a {
    line-height: 80px;

    text-decoration: none;
    color: rgb(19, 19, 19);
}

header .r-column {
    justify-content: flex-end;
}

/* ----- MAIN ----- */
main {
    margin-top: 70px;
}

/* TITLE */
.title {
    padding: 80px 0 20px;
    background-color: #B4D0E7;
}

.title h1 {
    font-size: 5em;
    font-weight: 900;
}

.title .small-column {
    width: 30%;
}

.title .img-box {
    width: 70%;

    position: absolute;
    right: 0;
    bottom: -100px;
}

.title .button {
    margin: 30px 0;
}

.title i {
    display: inline-block;
    margin-top: 70px;
    color: #000;
    font-size: 3em;
}


/* PLAN */
.plan {
    font-size: 0.9em;
}

.plan .price {
    font-weight: bold;
}

.plan .freq {
    color: grey;
}

.plan ul {
    list-style-position:outside;
    margin-left: 20px;
}

.plan i.blue-icon {
    color: #0061FF;
}

.plan .choise-box {
    display: inline-block;
    font-size: 0.9em;
    margin-right: 20px;
    line-height: 0.9em;
}

.plan .choise {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    margin-right: 2px;
    vertical-align: middle;

    border: 1px solid lightgrey;
    border-radius: 50%;
}

.plan .choise.active-choise {
    border: 4px solid #0061FF;
}

.plan .choise .choise-label {
    vertical-align: middle;
}

/* COLONNE */
.column-layout-3 {
    justify-content: space-between;
}

.column {
    border: 1px solid lightgrey;
}

.column .button {
    width: 100%;
}

.column hr {
    width: 20%;
}

.column-header {
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-bottom: 1px solid lightgrey;
}

.column-content {
    padding: 0 20px 40px;
}

.column-layout-3 .column {
    width: calc(100% / 3 - 40px);
}








/* PARTNER */

/* OPERATIONS */

/* BUSINESS */

/* LOGO GALLERY */
.logo-gallery > * {
    width: calc(100% / 3);

    flex-wrap: wrap;
}

.logo-gallery .logo-box {
    width: calc((100vw - 20px) / 6);
    height: calc((100vw - 20px) / 6);
}

/* TRIAL */
.trial {
    background-color: #B4D0E7;
}

/* ----- FOOTER ----- */
footer {
    background-color: #000;
}

/* TOP SECTION */
.t-section .list-box {
    width: calc(100% / 5);
}

